weather alert projet 1.json
{
  "name": "weather alert projet 1",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 8
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        0,
        0
      ],
      "id": "d5ab2686-00aa-4015-9cb5-853e86a2612a",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "url": "https://api.openweathermap.org/data/2.5/weather",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "q",
              "value": "Casablanca"
            },
            {
              "name": "units",
              "value": "metric"
            },
            {
              "name": "appid",
              "value": "715f526464b10965687a14fbfbbbb509"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        208,
        0
      ],
      "id": "01931099-71d3-4bad-a9c5-4b9b94731334",
      "name": "HTTP Request"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 3
          },
          "conditions": [
            {
              "id": "8002067f-b729-41ac-adde-ac70e314d7ad",
              "leftValue": "={{ $json.main.temp }}",
              "rightValue": 35,
              "operator": {
                "type": "number",
                "operation": "lt"
              }
            },
            {
              "id": "5d1aef98-f960-4b92-b951-2a7d110e278f",
              "leftValue": "",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        416,
        0
      ],
      "id": "943447f3-e4fb-4dde-ab0b-6c593bd65478",
      "name": "If"
    },
    {
      "parameters": {
        "fromEmail": "yassir124assri@gmail.com",
        "toEmail": "yassir124assri@gmail.com",
        "subject": "🌡️ Weather Alert",
        "html": "=Weather Alert!\nCity: Casablanca\nTemperature: {{ $json.main.temp }} °C\nCondition: {{ $json.weather[0].description }}\n",
        "options": {}
      },
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2.1,
      "position": [
        624,
        -96
      ],
      "id": "b9b3de62-8a7a-4b90-acb2-fcd481f618e6",
      "name": "Send email",
      "webhookId": "0f768f0c-99ce-453c-ab06-99c786bedbb7",
      "credentials": {
        "smtp": {
          "id": "kCFOIWK5d9gF0nZK",
          "name": "SMTP account 3"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Send email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "5ec3f8eb-db8a-4433-b93b-fe0c87bd84a7",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "7c90a850c5031b4908e57aeb566f664d4fbe8e10112c7617046f66a7726ba268"
  },
  "id": "hywgkPan7OLuFrRQ",
  "tags": []
}